name: sentiric

x-common-settings: &common-settings
  dns:
    - ${DISCOVERY_SERVICE_IPV4_ADDRESS:-10.88.5.1}
    - ${PRIMARY_DNS:-8.8.8.8}
    - ${SECONDARY_DNS:-1.1.1.1}
  dns_search:
    - ${DISCOVERY_DNS_SEARCH_DOMAIN:-service.sentiric.cloud}
  restart: always

networks:
  sentiric-net:
    driver: bridge
    name: sentiric-net
    ipam:
      config:
        - subnet: ${NETWORK_SUBNET:-10.88.0.0/16}
          gateway: ${NETWORK_GATEWAY:-10.88.0.1}

services:

  # =============================================================
  # Kategori 4: Orkestrasyon ve Çekirdek İş Mantığı 
  # (Core Logic Layer)
  # =============================================================

  media-service:
    <<: *common-settings
    image: ghcr.io/sentiric/sentiric-media-service:${TAG:-latest}
    volumes:
      - "${CONFIG_REPO_PATH:-../sentiric-config}:/sentiric-config:ro"
      - "${CERTIFICATES_REPO_PATH:-../sentiric-certificates}:/sentiric-certificates:ro"
      - "${ASSETS_REPO_PATH:-../sentiric-assets}:/sentiric-assets:ro"
    environment:
      # --- Service Identity ---
      - ENV=production
      - RUST_LOG=info,sentiric_media_service=info

      # --- Network & Ports ---
      - MEDIA_SERVICE_GRPC_PORT=13031
      - MEDIA_SERVICE_METRICS_PORT=13032

      # RTP Range (GENİŞLETİLDİ)
      - RTP_SERVICE_LISTEN_ADDRESS=0.0.0.0
      - RTP_SERVICE_PORT_MIN=10000
      - RTP_SERVICE_PORT_MAX=20000
      - RTP_SERVICE_PORT_QUARANTINE_SECONDS=2 # Karantina süresi optimize edildi

      # --- Assets & Records ---
      - ASSETS_BASE_PATH=/sentiric-assets

      # --- Certificates ---
      - GRPC_TLS_CA_PATH=/sentiric-certificates/certs/ca.crt
      - MEDIA_SERVICE_CERT_PATH=/sentiric-certificates/certs/media-service-chain.crt
      - MEDIA_SERVICE_KEY_PATH=/sentiric-certificates/certs/media-service.key

      # --- S3 / MinIO ---
      - BUCKET_ENDPOINT_URL=http://minio:9000
      - BUCKET_REGION=auto
      - BUCKET_NAME=sentiric
      - BUCKET_ACCESS_KEY_ID=sentiric
      - BUCKET_SECRET_ACCESS_KEY=sentiric-secret-key

      # --- RabbitMQ ---
      - RABBITMQ_URL=amqp://sentiric:sentiric_pass@rabbitmq:5672/%2f

      # --- Tuning ---
      - RTP_SESSION_INACTIVITY_TIMEOUT_SECONDS=30
      - RTP_COMMAND_CHANNEL_BUFFER=128 # Buffer artırıldı
      - LIVE_AUDIO_STREAM_BUFFER=128

    ports:
      - "${MEDIA_SERVICE_HTTP_PORT:-13030}:${MEDIA_SERVICE_HTTP_PORT:-13030}"
      - "${MEDIA_SERVICE_GRPC_PORT:-13031}:${MEDIA_SERVICE_GRPC_PORT:-13031}"
      - "${MEDIA_SERVICE_METRICS_PORT:-13032}:${MEDIA_SERVICE_METRICS_PORT:-13032}"
      # UDP Port Aralığı Genişletildi (10k - 20k)
      - "10000-20000:10000-20000/udp"
      
    networks:
      sentiric-net:
        ipv4_address: ${MEDIA_SERVICE_IPV4_ADDRESS:-10.88.30.3}
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:${MEDIA_SERVICE_METRICS_PORT:-13032}/healthz" ]